{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "max-len": [2, 120, 2]

  }
}
